
{% extends 'base.html' %}

{% block head %}
       page d'accueil   
{% endblock head %}
{% block content %}
{% include 'app/recherche.html' %}

    {% for produit in produits %}
        <div class="container ">
            <div class="card d-flex float-start ms-5 mt-5 " style="width: 300px; height:600px;">
                <a href="" style = "text-decoration: none;">
                    <img class="card-img-top" src="{{ produit.photo.url }}" alt="{{ produit.nom }}" width = "100%" height = "400px">
                </a>
                <div class="card-body">
                <h5 class="card-title"><a href="" class="text-black "> {{produit.nom}}</a></h5>

                <p class="text-light bg-danger">{{ produit.prix }} Ariary</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.uta aut perferendis dolor</p>
                <a href="{{ produit.get_absolute_url }}" class="btn btn-primary w-50 bg-warning">Commander</a>
                </div>
            </div>
        </div>
    {% endfor %} 
    {% if paginate %}
            <div class="clearfix"></div>
            <nav arial-label="">
                <ul class="pager d-flex justify-content-center">
                    {% if produits.has_previous %}
                    <button class="btn btn-warning m-3 "><a href="?page={{ produits.previous_page_number }}">Precedent</a></button>
                    {% endif %}
                    {% if produits.has_next %}
                    <button class="btn btn-warning m-3 "><a href="?page={{ produits.next_page_number }}">Next</a></button>
                    {% endif %}
                </ul>
            </nav>
    {% endif %} 

{% endblock content %}